body {
    font-family: Arial, sans-serif;
    background-color: #5b5050;
}

.chat-container {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

#messages {
    list-style-type: none;
    padding: 0;
    /* clear: both; */ 
}

#messages li {
    padding: 5px;
    /* border-bottom: 1px solid #eee; */
    border-radius: 5px;
    border: 2px solid rgb(133, 127, 127);
    margin: 3px;
}

form {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
